* {
  box-sizing: border-box;
}
body{
  height: 3000px;
}
.header {
  background-color: #eee;
  width: 500px;
  height: 80px;
  margin: 15px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.text {
  margin-right: 10px;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #b8b8b8;
}
.addTask {
  width: 15%;
  height: 31px;
  border-radius: 5px;
  border: none;
  background-color: cadetblue;
  color: white;
  cursor: pointer;
}

.tasks {
  background-color: #eee;
  width: 500px;
  min-height: 48px;
  margin: 15px auto;
  border-radius: 7px;
  padding: 20px;
  position: relative;
}
.clear_all {
  background-color: cornflowerblue;
  color: white;
  width: 44px;
  height: 15px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  right: 0;
  position: absolute;
  bottom: -18px;
  cursor: pointer;
}
.newTask_parent {
  background-color: white;
  width: 100%;
  height: 31px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 5px;
  position: relative;
  cursor: all-scroll;
}
.deleteButton {
  width: 44px;
  height: 15px;
  font-size: 11px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 50px;
  border: none;
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.edit_button {
  width: 44px;
  height: 15px;
  font-size: 11px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 57px;
  cursor: pointer;
}

.new_task {
  width: 80%;
  cursor: alias;
}
.active {
  opacity: 0.3;
}
.feature_button{
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: translate(-20px,7.5px);
  background-color: #858585;
  cursor: grabbing;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px
}
.feature_clicked{
  background: #42a9b7 !important;
}
.task_info{
  content: "";
  width: 100px;
  height: 31px;
  position: absolute;
  background-color: #d8d8d8;
  transform: translate(-106px,0px);
}

.lightline{
  width: 500px;
  height: 4px;
  transform: translate(-20px, -5px);
  background-color: #558f91;
  /* box-shadow: 0px 0px 3px 1px #f5feff; */
  cursor: grabbing;

}
.change_color{
  width: 30px;
  height: 30px;
  background-color: #a68a64;
  border-radius: 50%;
  position: absolute;
}
.dark_color{
  background-color: #858585;
}